.card {
  display: flex;
  width: 260px;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border: solid 1px $white;
}

.card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.card__title {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  margin-left: 30px;
  margin-right: 20px;
  max-width: 200px;
}

.card__info {
  display: block;
  padding-bottom: 20px;
  margin-left: 30px;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: $greyish-brown;
  box-shadow: 0 1px 0 0 $white;
}

.card__image {
  width: 260px;
  height: 195px;
  margin-bottom: 30px;
}

.card__buy-block {
  padding: 30px;
  position: relative;
}

.card__buy-block::before {
  position: absolute;
  content: "";
  top: 30px;
  right: 20px;

  width: 20px;
  height: 20px;

  background-image: url("../../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


@media (min-width: $tablet-width) {
  .card {
    width: 100%;
    flex-direction: row;
    align-content: stretch;
  }

  .card__image {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .card__info-column {
    display: flex;
    flex-direction: column;
  }




}
