.card {
  display: flex;
  flex-shrink: 0;
  width: 260px;
  flex-direction: column;
  align-content: center;
  background-color: white;
  border: solid 1px $white;
}

.card__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: rgb(0, 0, 0);
}

.card__title {
  margin: 0;
  padding: 0;
  align-self: flex-start;
  margin-left: 26px;
  margin-right: 20px;
  margin-bottom: 4px;
  max-width: 200px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.card__title--smaller {
  width: 70%;
}

.card__info {
  display: block;
  padding-bottom: 19px;
  margin-left: 28px;
  margin-right: 20px;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  color: $greyish-brown;
  box-shadow: 0 1px 0 0 $white;
}

.card__image {
  width: 260px;
  height: 195px;
  margin-bottom: 27px;
}

.card__buy-block {
  padding: 27px;
  padding-top: 23px;
  position: relative;
}

.card__buy-block::before {
  position: absolute;
  content: "";
  top: 26px;
  right: 26px;

  width: 20px;
  height: 20px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


@media (min-width: $tablet-width) {
  .card {
    width: 100%;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
  }

  .card__title {
    max-width: 235px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 27px;
  }

  .card__info {
    display: block;
    padding-bottom: 15px;
    margin-left: 0;
    font-size: 15px;
    line-height: 30px;
    box-shadow: none;
  }

  .card__image {
    width: 334px;
    height: 334px;
    margin: 0;
  }

  .card__info-column {
    display: flex;
    flex-direction: column;
    width: 306px;
  }

  .card__buy-block {
    padding-left: 0;
    padding-top: 25px;
    padding-right: 0;
    margin-right: 30px;
    font-weight: 700;
    box-shadow: 0 -1px 0 0 $white;

    &::before {
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .card {
    width: 316px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .card__image {
    width: 316px;
    height: 462px;
  }

  .card__title {
    max-width: 235px;
    padding-left: 26px;
  }

  .card__info {
    padding-left: 26px;
    padding-bottom: 12px;
  }

  .card__info--smaller {
    padding-bottom: 36px;
  }

  .card__buy-block {
    margin-left: 26px;

    &::before {
      top: 23px;
      right: -6px;
    }
  }
}
