.catalogue__list {
  @include list-reset();

  display: flex;
  width: 260px;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
}

.catalogue__item {
  width: 260px;
}

.catalogue__card {
  margin-bottom: 30px;
}

.catalogue__card--last {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .catalogue__list {
    width: 100%;
  }

  .catalogue__item {
    width: 100%;
  }

  .catalogue__card {
    margin-bottom: 52px;
  }

  .catalogue__video {
    margin-top: -26px;
  }
}

@media (min-width: $desktop-width) {
  .catalogue__item {
    width: 316px;
  }

  .catalogue__list {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 55px;
  }

  .catalogue__card {
    margin-bottom: 0;
  }
}
