.copyright {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-content: center;
  padding-bottom: 30px;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
}

.copyright__academy {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 30px;
}

.copyright__svg {
  position: absolute;
  bottom: -15px;
  right: -7px;
  height: 40px;
  width: 40px;
}

.copyright__svg path {
  fill: rgba(99, 209, 187, 1);
}

.copyright__svg:hover path,
.copyright__svg:focus path {
  fill: $greeny-blue;
}

.copyright__svg:active path {
  fill: $greeny-blue;
  opacity: 0.3;
}
