.drop-item {
  display: block;
  padding-left: 75px;

  padding-top: 27px;
  padding-bottom: 28px;

  text-decoration: none;
  color: black;
  line-height: 24px;
  font-size: 17px;
  font-weight: 700;

  box-shadow: 0 1px 0 0 $white,
    inset 0 1px 0 0 $white;

  &:hover,
  &:focus {
    color: $black-60;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $white;
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px $white;
  }
}

.drop-item:hover ~ .drop-svg path,
.drop-item:focus ~ .drop-svg path {
  fill: rgba(99, 209, 187, 1);
}

.drop-item:active ~ .drop-svg path {
  fill: rgba(99, 209, 187, 0.3);
}


.drop-item--added {
  display: none;
}

.drop-item--delivery {
  font-weight: 400;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: $tablet-width) {
  .drop-item {
    box-shadow: none;
    padding: 0;

    &:hover,
    &:focus {
      border: none;
      box-shadow: none;
    }

    &:active {
      border: none;
      box-shadow: none;
    }
  }

  .drop-item--delivery {
    display: block;
    margin-top: 6px;
    margin-right: 50px;
    font-size: 15px;
    line-height: 24px;
    z-index: 2;
  }

  .drop-item--smaller {
    font-size: 15px;
    line-height: 24px;
  }

  .drop-item--search-link {
    display: none;
  }

  .drop-item--cart {
    padding-left: 80px;
    padding-top: 31px;
  }
}

@media (min-width: $desktop-width) {
  .drop-item--added {
    display: block;
  }

  .drop-item--bigger {
    font-size: 17px;
  }
}
