.hero__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}


.hero__item {
  position: relative;
  display: block;
  padding: 30px;
  padding-top: 26px;

  background-color: $greeny-blue;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  &:hover,
  &:focus {
    margin-top: -5px;
    padding-bottom: 40px;
    padding-top: 21px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &::after {
    position: absolute;
    content: "";

    top: 24px;
    right: 17px;
    width: 60px;
    height: 60px;

    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
  }
}

.hero__item:hover::after,
.hero__item:focus::after {
  opacity: 0.7;
}

.hero__item:active::after {
  opacity: 0.3;
}


.hero__item--interior {
  &::after {
    background-image: url("../img/icon-interior.svg");
    top: 23px;
  }
}

.hero__item--toys {
  &::after {
    background-image: url("../img/icon-toy.svg");
    top: 21px;
    right: 27px;
  }
}

.hero__item--active {
  background-color: $seafoam-blue;
}

.hero__text {
  display: block;
  width: 110px;
}

@media (min-width: $tablet-width) {
  .hero {
    position: relative;
    margin-left: 50px;
    margin-top: -115px;
    margin-bottom: 48px;

    &::after {
      position: absolute;
      content: "";

      bottom: -20px;
      left: -50px;

      width: $tablet-width;
      height: 30px;

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
      background-size: 100%;
    }
  }


  .hero__item {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__list {
    flex-direction: row;
    width: 668px;
  }

  .hero__li {
    width: 50%;
  }

  .hero__text {
    padding-top: 2px;
    padding-left: 6px;
  }

  .hero__item--interior {
    &::after {
      top: 31px;
    }
  }

  .hero__item--toys {
    &::after {
      top: 34px;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .hero__list {
    width: 1050px;
  }

  .hero {
    margin-bottom: 126px;

    &::after {
      width: $desktop-width;
      bottom: -15px;
      left: -52px;
      background-size: 105%;
    }
  }
}
