.hero__list {
  @include list-reset();

  display: flex;
  flex-direction: column;
}


.hero__item {
  display: block;
  padding: 30px;
  padding-top: 26px;

  background-color: $greeny-blue;
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;

  &:hover,
  &:focus {
    padding-bottom: 35px;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.hero__item--active {
  background-color: $seafoam-blue;
}

.hero__text {
  display: block;
  width: 110px;
}

@media (min-width: $tablet-width) {
  .hero {
    margin-left: 50px;
    margin-top: -115px;
    margin-bottom: 48px;
  }

  .hero__item {
    font-size: 20px;
    line-height: 30px;
  }

  .hero__list {
    flex-direction: row;
    width: 668px;
  }

  .hero__li {
    width: 50%;
  }

  .hero__text {
    padding-top: 2px;
    padding-left: 6px;
  }
}

@media (min-width: $desktop-width) {
  .hero__list {
    width: 1050px;
  }

  .hero {
    margin-bottom: 126px;
  }
}
