.hero-block {
  background-image: url("../img/hero-mobile@1x.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .hero-block {
    background-image: url("../img/hero-tablet@1x.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -60px;
    border-top: solid 1px rgb(236, 236, 236);
  }
}

@media (min-width: $desktop-width) {
  .hero-block {
    background-image: url("../img/hero-desktop@1x.jpg");
  }
}

