.main-nav {
  display: flex;
  flex-direction: column;
}

.main-nav__list li {
  position: relative;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
  }

  .main-nav__list {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .main-nav__user-wrapper {
    width: 398px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
  }
}
