.main-nav {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .main-nav__list {
    display: flex;
    flex-grow: 0;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
}
