.menu-btn {

  padding: 10px;
  border: none;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-color: white;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.menu-btn--open {
  background-image: url("../../img/icon-menu-close.svg");

}

.menu-btn--closed {
  background-image: url("../../img/icon-menu-open.svg");
  top: 33px;
}

