.page-footer {
  background-color: #f1f1f1;
}

.page-footer__contact-us {
  margin-bottom: 40px;
}

.page-footer__logo-image {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__logo-image {
    display: block;
    width: 102px;
    height: 34px;
  }
}
