.page-main__title {

  padding-top: 90px;;
  padding-bottom: 140px;

  text-align: center;
  font-size: 27px;
  font-weight: 700;
  font-style: normal;
  line-height: 30px;
  text-align: center;
  color: $very-dark-brown;
}

.page-main__el {
  margin-bottom: 30px;
}
