.page-contacts__el {
  margin-bottom: 15px;
}

.page-contacts__write {
  margin: 0 auto;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .page-contacts__write {
    width: 230px;
    margin-bottom: 55px;
  }

  .page-contacts__title {
    margin-bottom: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: -15px;
      right: 3px;

      width: 47px;
      height: 81px;
      background-image: url("../../img/icon-flag.svg");
    }
  }
}


@media (min-width: $desktop-width) {
  .page-contacts__wrapper {
    margin-left: 172px;
    margin-bottom: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
  }

  .page-contacts__title {
    padding-top: 72px;

    &::after {
      top: 62px;
      right: 362px;
    }
  }

  .page-contacts__first-column {
    width: 300px;
  }

  .page-contacts__write {
    margin-bottom: 0;
  }
}
