.page-header {
  &--header {
    box-shadow: 0 1px 0 0 $white,
      inset 0 1px 0 0 $white;
  }
}

.page-header__logo-image {
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}

.page-header__open-menu {
  position: absolute;
  right: 10px;
  top: 30px;
}

.page-header__main-menu {
  display: flex;
}

@media (min-width: $tablet-width) {
  .page-header__open-menu {
    display: none;
  }

  .page-header__logo-image {
    position: absolute;
    top: 0;
    left: 50px;
    width: 112px;
    height: 46px;
    margin-right: 210px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo-image {
    position: absolute;
    top: 0;
    left: calc(50% - 112px/2);
    width: 112px;
    height: 46px;
  }
}
