.promo {
  position: relative;
}

.promo__title {
  margin-bottom: 5px;
}

.promo__subtitle {
  margin-bottom: 8px;

  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;

  color: $seafoam-blue;
}

.promo__description {
  margin-bottom: 18px;

  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: $greyish-brown;
}

.promo__table {
  margin-bottom: 29px;
}

.promo__image {
  margin-bottom: 20px;
}

.promo__price {
  display: block;
  margin-bottom: 26px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: $greyish-brown;
}

.promo__order {
  margin: 0 auto;
  margin-bottom: 43px;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;

  width: 100%;
  height: 25px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 50%;
  background-size: 100%;
}

@media (min-width: $tablet-width) {
  .promo {
    margin-bottom: 74px;
  }

  .promo__title {
    margin-bottom: 30px;
  }

  .promo__wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 290px;
  }

  .promo__big-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo__wrapper--price {
    margin-top: -130px;
  }

  .promo__subtitle {
    position: absolute;
    top: 10px;
    right: 30px;

    text-align: center;
    width: 70px;
    line-height: 17px;
  }

  .promo__description {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 35px;
  }

  .promo__price {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 34px;
  }

  .promo__image {
    width: 333px;
    height: 404px;

    margin-top: 25px;
  }

  .promo::after {
    bottom: -52px;
  }
}


@media (min-width: $desktop-width) {
  .promo__wrapper {
    width: 292px;
    margin-left: 175px;
  }

  .promo__image {
    width: 525px;
    height: 636px;
    margin-top: -141px;
    margin-left: auto;
  }

  .promo__title {
    margin-left: 172px;
    z-index: 2;
  }

  .promo__subtitle {
    position: absolute;
    top: 14px;
    left: 46px;

    text-align: center;
    width: 70px;
  }

  .promo__description {
    margin-bottom: 48px;
  }

  .promo__wrapper--price {
    margin-top: -130px;
    margin-left: 173px;
  }

  .promo::after {
    display: none;
  }

  .promo {
    margin-bottom: 112px;
  }
}
