.review {
  position: relative;
}

.review__title {
  margin-bottom: 10px;
}

.review__quote {
  padding: 0;
  padding-right: 5px;
  margin: 0;
}

.review__text {
  margin-bottom: 28px;

  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  color: $greyish-brown;
}

.review__author {
  font-style: normal;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.review__contacts {
  font-weight: 400;
  line-height: 30px;
  color: $greyish-brown;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 30px;
}

.review::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 0;

  width: 100%;
  height: 25px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: 0 0;
  background-size: 290px;
}

.review__add {
  margin: 0 auto;
  margin-bottom: 60px;
}

@media (min-width: $tablet-width) {
  .review {
    margin-bottom: 147px;

    background-image: url("../img/review@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/review@2x.jpg");
      background-size: 350px auto;
    }
  }

  .review__title {
    margin-top: 78px;
    margin-bottom: 32px;
  }

  .review__text {
    font-size: 17px;
    margin-bottom: 56px;
  }

  .review__add {
    position: absolute;
    top: 79px;
    right: 0;
    width: 175px;
  }

  .review__item {
    padding-bottom: 17px;
  }

  .review::after {
    bottom: -97px;
    background-size: 800px;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .review__title {
    margin-top: 70px;
    margin-left: 172px;
    margin-bottom: 31px;
  }

  .review__quote {
    margin-left: 172px;
  }

  .review__text {
    width: 770px;
    margin-bottom: 38px;
  }

  .review__add {
    top: 78px;
  }

  .review::after {
    display: none;
  }

  .review .page-wrapper--decor {
    &::after {
      bottom: -91px;
    }
  }

  .review {
    margin-bottom: 160px;
    background-image: none;
  }
}
