.slider__list {
  @include list-reset();
}

.slider__buttons {
  display: flex;
  width: 100%;

  margin-bottom: 36px;
}

@media (min-width: $tablet-width) {
  .slider__buttons {
    width: 170px;
    position: absolute;
    bottom: 17px;
    right: 3px;
  }
}

@media (min-width: $desktop-width) {
  .slider__buttons {
    bottom: 65px;
  }
}
