.social__list {
  @include list-reset();

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;

  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
  box-shadow: 0 1px 0 0 $white;
}

.social__item {
  display: block;
  position: relative;
  padding: 0 20px;
}

.social__item--twitter {
  padding-right: 0;
}

.social__item--instagram::before {
  @include social-before();
  background-image: url("../../img/icon-insta.svg");
}

.social__item--facebook::before {
  @include social-before();
  background-image: url("../../img/icon-fb.svg");
}

.social__item--twitter::before {
  @include social-before();
  background-image: url("../../img/icon-twitter.svg");
}

@media (min-width: $tablet-width) {
  .social__list {
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    width: 200px;
  }
}
