.social {
  margin-bottom: 18px;
}

.social__list {
  @include list-reset();
  // outline: 1px solid green;
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: baseline;
  margin-top: 25px;
  margin-bottom: 10px;
  padding-bottom: 25px;

  box-shadow: 0 1px 0 0 $white;
}

.social__item {
  display: block;
  position: relative;
  margin-right: 40px;
}

.social__item--twitter {
  margin-right: 0;
}

.social__svg path {
  fill: rgba(0, 0, 0, 1);
}

.social__svg:hover path,
.social__svg:focus path {
  fill: $greeny-blue;
}

.social__svg:active path {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .social__list {
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    width: 200px;
  }
}
