
.table {
  border-collapse: collapse;
  vertical-align: top;
}

.table__cell {
  padding-left: 5px;

  &--bordered {
    box-shadow: 0 1px 0 0 $white;
  }

  &--title {
    width: 1%;
    white-space: nowrap;
    padding-left: 0;
  }
}
