$blue-green: rgb(20, 144, 128);
$seafoam-blue: rgb(99, 209, 187);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$black-60: rgba(0, 0, 0, 0.6);
$very-dark-brown: rgb(1, 0, 0);
$greyish-brown: rgb(68, 68, 68);
$white: rgb(236, 236, 236);
$greeny-blue: rgb(86, 195, 178);
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 768px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
